#FenInDiv {
	position: absolute;
	top: 545px;
	left: 37px;
	display: none;
}

#fenIn { 
  width: 300px;
  left: 37px;
}

#versionLink {
	margin-left:10px;
	font-size:small;
}

#LoadingBook {
	position: absolute;
	left: 0px;
	top: 100px;	
	display: none;
}

#CurrentFenDiv {
	position: absolute;
	left: 37px;
	top: 545px;
	margin-top: 25px;
	display: none;
}

#Board {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 520px;
	height: 520px;
	border-style:solid;
	border-width:1px;	
}

#EngineOutput {
	position: absolute;
	top: 545px;	
	left: 62px;
}

#ThinkingImageDiv {
	position: absolute;
	top: 750px;
	left: 375px;
	display: none;
}

#ThinkingPng {
	width: 62px;
	height: 37px;
}



.Piece {
	position: absolute;
}

.Square {
	position: absolute;	
	width: 65px;
	height: 65px;
}

.Light {
	background-color:#5fbcd3;
}

.Dark {
	background-color:#afdde9;
}

.SqSelected {
	background-color:#216778;
}

.clickElement { cursor:pointer }

.rank1 { top: 455px; }
.rank2 { top: 390px; }
.rank3 { top: 325px; }
.rank4 { top: 260px; }
.rank5 { top: 195px; }
.rank6 { top: 130px; }
.rank7 { top: 065px; }
.rank8 { top: 0px; }

.file1 { left: 0px; }
.file2 { left: 065px; }
.file3 { left: 130px; }
.file4 { left: 195px; }
.file5 { left: 260px; }
.file6 { left: 325px; }
.file7 { left: 390px; }
.file8 { left: 455px; }

.rank8flip { top: 455px; }
.rank7flip { top: 390px; }
.rank6flip { top: 325px; }
.rank5flip { top: 260px; }
.rank4flip { top: 195px; }
.rank3flip { top: 130px; }
.rank2flip { top: 065px; }
.rank1flip { top: 0px; }

.file8flip { left: 0px; }
.file7flip { left: 065px; }
.file6flip { left: 130px; }
.file5flip { left: 195px; }
.file4flip { left: 260px; }
.file3flip { left: 325px; }
.file2flip { left: 390px; }
.file1flip { left: 455px; }





