#FenInDiv {
	position: absolute;
	top: 625px;
	left: 37px;
	display: none;
}

#fenIn { 
  width: 300px;
  left: 37px;
}

#versionLink {
	margin-left:10px;
	font-size:small;
}

#LoadingBook {
	position: absolute;
	left: 0px;
	top: 100px;	
	display: none;
}

#CurrentFenDiv {
	position: absolute;
	left: 37px;
	top: 625px;
	margin-top: 25px;
	display: none;
}

#Board {
	position: relative;
	left: 0px;
	top: 0px;
	width: 600px;
	height: 600px;
	border-style:solid;
  border-width:1px;
}

#EngineOutput {
	position: absolute;
	top: 625px;	
	left: 62px;
}

#ThinkingImageDiv {
	position: absolute;
	top: 750px;
	left: 375px;
	display: none;
}

#ThinkingPng {
	width: 62px;
	height: 37px;
}



.Piece {
	position: absolute;
}

.Square {
	position: absolute;	
	width: 75px;
	height: 75px;
}

.Light {
	background-color:#5fbcd3;
}

.Dark {
	background-color:#afdde9;
}

.SqSelected {
	background-color:#216778;
}

.clickElement { cursor:pointer }

.rank1 { top: 525px; }
.rank2 { top: 450px; }
.rank3 { top: 375px; }
.rank4 { top: 300px; }
.rank5 { top: 225px; }
.rank6 { top: 150px; }
.rank7 { top: 075px; }
.rank8 { top: 0px; }

.file1 { left: 0px; }
.file2 { left: 075px; }
.file3 { left: 150px; }
.file4 { left: 225px; }
.file5 { left: 300px; }
.file6 { left: 375px; }
.file7 { left: 450px; }
.file8 { left: 525px; }

.rank8flip { top: 525px; }
.rank7flip { top: 450px; }
.rank6flip { top: 375px; }
.rank5flip { top: 300px; }
.rank4flip { top: 225px; }
.rank3flip { top: 150px; }
.rank2flip { top: 075px; }
.rank1flip { top: 0px; }

.file8flip { left: 0px; }
.file7flip { left: 075px; }
.file6flip { left: 150px; }
.file5flip { left: 225px; }
.file4flip { left: 300px; }
.file3flip { left: 375px; }
.file2flip { left: 450px; }
.file1flip { left: 525px; }





